.peacegallery{
    margin: auto;
    border: #fff solid 13px;
    background: #fff;
}



.peacegrid{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}


img{
    max-width: 100%;
    width: 280px; /* Set the desired width */
    height: 280px; /* Set the desired height */
}
.img-wrapper{
  position: relative;
  overflow: hidden;
}

.img-wrapper > .content{
  position: absolute;
  inset: 0;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  gap: 40px;
}

.img-wrapper > img,
.img-wrapper > .content{
  
    transition: 200ms ease-in-out;
}
.heartz, .downloadz, .sharez{
  cursor: pointer;
}

.heartz:hover, .downloadz:hover, .sharez:hover{
  cursor: pointer;
  color: var(--colorbtn);
}


.img-wrapper > .content.slide-up {
  transform: translateY(890%);
  }

  .img-wrapper:hover > .content.slide-up {
      transform: translateY(760%);    
  }

  @media only screen and (max-width: 600px) {
    .peacegrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }


/* position: relative;
    overflow: hidden; */


    .sliderWrap{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      }
      
      
      .sliderWrap .btnClose, .sliderWrap .btnPrev, .sliderWrap .btnNext{
      position: fixed;
      opacity: 0.6;
      z-index: 999;
      cursor: pointer;
      color: rgb(0, 255, 255);
      }
      
      .sliderWrap .btnClose{
        
      top: 40px;
      right: 40px;
      transform: translateY(-50%);
      }
      
      .sliderWrap .btnPrev{
      top: 50%;
      left: 40px;
      transform: translateY(-50%);
      }
      
      .sliderWrap .btnNext {
          top: 50%;
          right: 40px;
          transform: translateY(-50%);
          
      }
      
      
      @media only screen  and (min-width: 900px) {
        
     
        .sliderWrap .btnClose{
          margin-right: 220px;
          font-size: 40px;
          
        }    
     
        .sliderWrap img{
          height: 480px;
width: 480px;
        }

        .sliderWrap .btnPrev{
          margin-left: 220px;
          font-size: 40px;
          }
          
          .sliderWrap .btnNext {
            margin-right: 220px;
            font-size: 40px;
            }
      }

      @media only screen  and (max-width: 900px) {
        
        .sliderWrap img{
          
          height: 480px;
width: 480px;
        }
        .sliderWrap .btnClose{
          margin-right: 150px;
          margin-top: 10px;
          font-size: 40px;
        }    
        .sliderWrap .btnPrev{
          margin-left: 120px;
          font-size: 40px;
          }
          
          .sliderWrap .btnNext {
            margin-right: 120px;
            font-size: 40px;
            }
     
      }

      @media only screen  and (max-width: 800px) {
        .sliderWrap .btnClose{
          margin-right: 120px;
          margin-top: 10px;
          font-size: 40px;
          
        }    
        .sliderWrap .btnPrev{
          margin-left: 70px;
          
          }
          
          .sliderWrap .btnNext {
            margin-right: 70px;
            font-size: 40px;
            }
      }

      @media only screen  and (max-width: 770px) {
        .sliderWrap .btnClose{
          margin-right: 90px;
          margin-top: 10px;
          
          
        }    

        .sliderWrap .btnPrev{
          margin-left: 50px;
          
          }
          
          .sliderWrap .btnNext {
            margin-right: 50px;
            }
      }

      @media only screen  and (max-width: 600px) {
     
        .sliderWrap img{
          height: 240px;
width: 240px;
        }
        .sliderWrap .btnClose{
          margin-right: 120px;
          margin-top: 20px;
          
          
        }    

        .sliderWrap .btnPrev{
          margin-left: 7px;
          
          
          }
          
          .sliderWrap .btnNext {
            margin-right: 7px;
            }

      }

      @media only screen  and (max-width: 500px) {
        
        
        .sliderWrap .btnClose{
          
          margin-right: -10px;
          margin-top: 80px;
        }    

        .sliderWrap .btnPrev{
          margin-left: 7px;
          
          
          }
          
          .sliderWrap .btnNext {
            margin-right: 7px;
            }
      }