.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.img-wrapper{
    position: relative;
    overflow: hidden;
}

.img-wrapper > img{
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;

}

.img-wrapper > .content{
    position: absolute;
    inset: 0;
    color: black;
    font-size: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    gap: 40px;
}

.img-wrapper > img,
.img-wrapper > .content{
    transition: 200ms ease-in-out;
}


.img-wrapper > .content.fade {
    opacity: 0;
    }

.img-wrapper:hover > .content.fade {
opacity: 1;
}

.img-wrapper:hover > img.blur{
    filter: blur(5px);
}

.img-wrapper:hover > img.zoom{
   transform: scale(1.1);
}

.img-wrapper > .content.slide-up {
    transform: translateY(890%);
    }

    .img-wrapper:hover > .content.slide-up {
        transform: translateY(760%);    
    }